.Nav{
  /* padding-top: 5px; */
  position: fixed;
  top: 0;
  box-shadow: 2px 2px 2px #888888;
  font-size: 30px;
  font-weight: 400;
  height: 54px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: black;
  background-color: white;
  width: 100%;
  z-index: 99;
}

.right a{
  margin: .3em;
  text-align: center;
  /* margin: auto; */
}

/* .right a::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s;
}

.right a:hover::after{
  width: 100%;
} */

.right a:hover{
  border-bottom: 1px solid black;
}
@media only screen and (max-width: 670px) {
  .Nav{
    height: 70px;
    font-size: 24px;
  }

  .Nav .right{
    /* display: none; */
    width: 85%;
    font-size: 18px;
  }
}


.Nav span{
  align-self: center;
}

.Nav .right{
  /* padding-top: 10px; */
  text-align: center;
  align-self:center;
  font-size: 20px;
  font-weight: 300;
  /* margin: auto; */
}

.Nav .right a{
  color: black;
  /* padding-right: 10px; */
}
