@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.ObjectiveContent{
  margin: auto;
  width: 70%;

}

.Objective .content{
  text-align: left;
}
.ObjectiveContent p{
  color: white;
}

.Objective{
  display: inline-block;
  width: 100%;
  background-color: #8e44ad;;
}
