@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.ObjectiveContent{
  margin: auto;
  width: 60%;
}

.Objective .content{
  margin-top: 2em;
  text-align: left;
  /* font-size: 1.2em; */
}
.ObjectiveContent p{
  color: white;
}

.Objective{
  display: inline-block;
  width: 100%;
  padding: 2em 0;
  background-color: #8e44ad;;
}

@media only screen and (max-width: 650px)  {
  .ObjectiveContent{
    width: 90%;
  }
}
