.project-flex{
  margin: auto;
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}
@media only screen and (max-width: 650px)  {
  .project-flex{
    width: 90%;
  }
}
