.project{
  background-color: white;
  margin: 10px 0;
  /* min-width: 30%; */
  /* max-width: 45%; */
  width: 45%;
  margin: 2%;
  box-shadow: 3px 3px 3px #888;
  overflow: hidden;
}

.tech p, .contentText p{
  width: 80%;
  margin: auto;
  margin-top: 1em;
  color: #333;
}

.project button{
  transition: background-color .2s, box-shadow .3s;
}

.blue .title, .blue button{
  background-color: #2980b9;
}

.blue button:hover{
  background-color: #3498db;
}

.green .title, .green button{
  background-color: #16a085;
}

.green button:hover{
  background-color: #1abc9c;
}

.purple .title, .purple button{
  background-color: #8e44ad;
}

.purple button:hover{
  background-color: #9b59b6;
}

.red .title, .red button{
  background-color: #c0392b;
}

.red button:hover{
  background-color: #e74c3c;
}

.titleText{
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  color: white;
}


.flexWrapper{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:space-around;
}

@media only screen and (max-width: 700px) {
  .project{
    /* max-width:95%; */
    width: 95%;
  }
}


button{
  background-color: #3498db;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  /* margin-top: 10%; */
  padding: 10px;
  font-size: large;
  /* position: absolute; */
}


.project button:hover{
  box-shadow: 2px 2px 2px #888888;
}

a{
  text-decoration: none;
  color: white;
}

.faIcon{
  border-radius: 50%;
  font-size: 2.5em;
  color: white;
  /* background-color: black; */
  position: relative;
  top: 4%;
}

.content{
  padding: 0 5px 10px 5px;
}

.iconCircleWrapper{
  height: 4em;
  width: 4em;
  /* padding: 0 2px; */
  margin-top: 2%;
  /* background-color: purple; */
  /* width: 4em; */
  /* padding-top: 4em; */
  /* height: 100%; */
  border: solid 1px white;
  border-radius: 50%;
}

.content > p{
  margin: 0;
  padding:10px 0  10px 0;
}

.contentText{
  min-height: 7em;
}

.titleContent{
  padding: 0;
  max-width: 60%;

}

.titleContent p{
  padding: 0;
  color: white;
}

.title{
  /* display: inline-block; */
  margin: 0;
  padding: 0;
  /* position: relative; */
  /* border-radius: 17%; */
  /* display: inline-block; */
  width: 100%;
  /* height: 25%; */
  /* background-color: #2980b9; */
  color: white;
}


@media only screen and (max-width: 650px)  {
  .project{
    width: 95%;
  }
}
